/nbproject/
/cocoresto-war/nbproject/
/cocoresto-ejb/nbproject/
/nbproject/private/
/cocoresto-war/nbproject/private/
/cocoresto-ejb/nbproject/private/
/cocoresto-ejb/build/
/cocoresto-war/build/
/build/
/cocoresto-ejb/dist/
/cocoresto-war/dist/
/cocoresto-ejb/build.xml
/cocoresto-war/build.xml
/build.xml
/cocoresto-ejb/src/conf/persistence.xml
