<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>FrontController</servlet-name>
        <servlet-class>controllers.FrontController</servlet-class>
        <init-param>
            <param-name>login</param-name>
            <param-value>controllers.loginController</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>FrontController</servlet-name>
        <url-pattern>/FrontController</url-pattern>
        <init-param>
            <param-name>login</param-name>
            <param-value>controllers.loginController</param-value>
        </init-param>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <ejb-local-ref>
        <ejb-ref-name>ejbLogin</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.ejbLoginLocal</local>
        <ejb-link>cocoresto-ejb.jar#ejbLogin</ejb-link>
    </ejb-local-ref>
</web-app>
