<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>FrontController</servlet-name>
        <servlet-class>controllers.FrontController</servlet-class>
        <init-param>
            <param-name>employee</param-name>
            <param-value>controllers.EmployeeController</param-value>
        </init-param>
        <init-param>
            <param-name>login</param-name>
            <param-value>controllers.loginController</param-value>
        </init-param>
        <init-param>
            <param-name>category</param-name>
            <param-value>controllers.categoryController</param-value>
        </init-param>
        <init-param>
            <param-name>dish</param-name>
            <param-value>controllers.dishController</param-value>
        </init-param>
        <init-param>
            <param-name>dashboard</param-name>
            <param-value>controllers.dashboardController</param-value>
        </init-param>
        <init-param>
            <param-name>rate</param-name>
            <param-value>controllers.rateController</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>FrontController</servlet-name>
        <url-pattern>/FrontController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
